body {
  font-family: Arial, sans-serif;
  background-color: #444466;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.board-container {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #444455;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  margin: 20px;
}

#board {
  flex: 1;
  background: #333344;
  padding: 10px;
  overflow-y: auto;
}

.note-creator-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #444455;
}

.note-creator-container textarea {
  padding: 5px;
  width: 100%;
  max-width: 1920px;
  resize: none;
  border-radius: 5px;
}

.note-creator-container button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;

  border-radius: 5px;
}

.note-creator-container button:hover {
  background: #008bff;
}

.note {
  position: absolute;
  width: 150px;
  min-height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 8px 2px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto 0;
  position: sticky;
  bottom: 20px;
}

.social-links:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.social-links a {
  font-size: 18px;
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

/* Styles for smaller screens */
@media (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .board-container {
    width: 100%;
    height: 80%;
    margin: 0;
    border-radius: 0px;
  }

  footer {
    margin: 0;
    bottom: 0;
    width: 100%;
  }
}
